<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <img src="../assets/logsvg.svg " alt="" srcset="" id="log">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <span class="badge badge-dark mb-2 mr-2"><a style="width: 100px; color: white;"  class="nav-link" routerLink="register">Clientes <span class="sr-only">(current)</span></a>
              </span>
              </li>
              <li class="nav-item">
                <span class="badge badge-dark" ><a style="width: 100px; color: white;" class="nav-link" routerLink="articulo">Articulos <span class="sr-only">(current)</span></a>
              </span>
              </li>
    
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>